/* Стилі для загального макету та оформлення */

/* Загальні стилі для тіла документу */
body {
    font-family: Arial, sans-serif;
    background: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
  }
  
  /* Стилі для посилань на оригінальні URL */
  .orig-url a {
    color: rgb(255, 0, 208);
    text-decoration: none;
  }
  .orig-url a:hover {
    text-decoration: underline;
  }
  
  /* Стилі для посилань на скорочені URL */
  .short-url a {
    color: rgb(6, 209, 255);
    text-decoration: none;
  }
  .short-url a:hover {
    text-decoration: underline;
  }
  
  
  /* Стилі для форм авторизації та реєстрації */
  
  /* Стилі для контейнера форми авторизації */
  .login-container,
  .registration-container {
    width: 100%; /* Змінено ширину контейнера на 100% */
    max-width: 400px; /* Максимальна ширина контейнера */
    height: auto; /* Автоматична висота контейнера */
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    margin: 200px auto 0; /* Висота зверху, а ширина автоматична */
  }
  
  /* Стилі для полів вводу в формі авторизації та реєстрації */
  .login-input,
  .registration-input {
    width: 100%;
    max-width: 320px; /* Максимальна ширина поля вводу */
    padding: 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
    font-size: 16px;
  }
  
  /* Стилі для кнопок в формах авторизації та реєстрації */
  .login-button,
  .registration-button {
    display: flex;
    justify-content: center; /* Вирівнює кнопки по центру */
    gap: 10px;
  }
  
  /* Стилі для сповіщень після авторизації та реєстрації */
  .login-notification,
  .registration-notification {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
      color: #fff;
      font-weight: bold;
      border-radius: 5px;
      text-align: center;
      z-index: 999;
  }
  
  
  /* Стилі для інших елементів та компонентів */
  
  /* Стилі для груп кнопок */
  .buttons-grid {
    display: flex;
    justify-content: center; /* Вирівнює кнопки по центру */
    gap: 10px;
  }
  
  /* Стилі для кнопок авторизації */
  .authButton.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 10px auto; /* Додано автоматичні відступи по боках */
  }
  
  /* Стилі для блоку скорочення URL */
  .shortenerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Стилі для груп вводу */
  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Стилі для полів вводу */
  .inputField {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
    font-size: 16px;
  }
  
  /* Стилі для кнопки копіювання */
  .copyButton {
    display: none;
  }
  
  /* Стилі для загального контейнера */
  .container {
    width: 620px;
    height: 720px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    margin: 100px auto;
  }
  
  /* Стилі для контейнера авторизації */
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Стилі для блоку авторизації */
  .auth-box {
    width: 100%;
    max-width: 400px; 
  }
  /* авторизації */
.auth-box .form-submit-btn {
    width: auto; /* Автоматична ширина для кнопки логіну */
  }
  
  
  /* Стилі для таблиць та заголовків */
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table-dark th {
    background-color: #333;
    color: white;
  }
  
  
  /* Стилі для різноманітних анімацій та ефектів */
  
  /* Анімація градієнта */
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Анімація пульсації */
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  
  /* Анімація руху зірок */
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-135rem);
    }
  }
  
  /* Анімація обертання зірок */
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0);
    }
  }
  
    