body {
  font-family: Arial, sans-serif;
  background: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.orig-url a {
  color: rgb(255, 0, 208);
  text-decoration: none;
}
.orig-url a:hover {
  text-decoration: underline;
}

.short-url a {
  color: rgb(6, 209, 255);
  text-decoration: none;
}
.short-url a:hover {
  text-decoration: underline;
}

.login-container {
  width: 100%; 
  max-width: 400px; 
  height: auto;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  margin: 200px auto 0; 
}

.login-input {
  width: 100%;
  max-width: 320px; 
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  font-size: 16px;
}


.login-button {
  display: flex;
  justify-content: center; 
  gap: 10px;
}

.login-notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    z-index: 999;
}

.registration-container {
  width: 100%;
  max-width: 400px; 
  height: auto; 
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  margin: 200px auto 0; 
}

.registration-input {
  width: 100%;
  max-width: 320px; 
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  font-size: 16px;
}

.registration-button {
  display: flex;
  justify-content: center; 
  gap: 10px;
}

.registration-notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    z-index: 999;
}

.registrationButtonsGrid {
  display: flex;
  justify-content: center; 
  gap: 10px;
}



.buttons-grid {
  display: flex;
  justify-content: center; 
  gap: 10px;
}

.authButton.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 10px auto; 
}

.authButton.btn:hover {
  transform: scale(1.1);
}

.authButton.btn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}


.shortenerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authButtonsContainer {
  display: flex;
  gap: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputField {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  font-size: 16px;
}

.inputField:not(:placeholder-shown){
  color: whitesmoke;
}

.inputField:focus {
  outline: none;
  border-color: #e81cff;
}

#urlInput {
  color: #fff;
}

#customUrlInput {
  color: #fff;
}

#shortUrlContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

#shortUrlContainer.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  padding: 10px 20px;
  border-radius: 8px;
  z-index: 9999;
}

#shortUrlContainer a {
  color: #FE53BB;
  text-decoration: none;
  font-size: 20px;
}

.copyButton {
  display: none;
}

.copyButton.visible {
  display: block;
}

.container {
  width: 620px;
  height: 720px;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  margin: 100px auto;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  width: 100%;
  max-width: 400px;
}

.auth-box .form-submit-btn {
  width: auto; 
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container button:active {
  scale: 0.95;
}

.container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.container .form-group input::placeholder {
  opacity: 0.5;
}

.container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.header {
  text-align: center;
  margin-bottom: 20px
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow-x: auto;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  width: auto;
  max-width: 100px;
  word-wrap: break-word; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}



.table th {
  background-color: #f2f2f2;
}

.table-dark th {
  background-color: #333;
  color: white;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 10px;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 12px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
